@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron bg-dark text-white mt-4">
    <h1>DIARS CON ASP.NET</h1>
    <p class="lead">ASP.NET es una plataforma para
    desarrolladores formada por herramientas, lenguajes de programación y 
    bibliotecas para crear muchos tipos diferentes de aplicaciones.</p>
    <p><a href="https://github.com/badinho999/PlantillaDIARS.git" class="btn btn-primary btn-lg"><i class="fab fa-github"></i> Saber más</a></p>
</div>